body{ text-align: center; }

h1 img {
    width: 489px;
    margin: 20px;
}

input{
    border: 1px solid #000;
    background: #FDFDFD;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
}

button{
    border: 1px solid #000;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
    margin: 4px;

}

.result {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #FDFDFD
}